---
import { format } from "date-fns";
import { resolveCoverImage } from "@/content/blog/_resolveImages.js";
import { randomFromArray } from "@/lib/random";
import Avatar from "@/components/avatar.astro";

export type Props = {
	post: {
		slug: string;
		data: {
			title: string;
			description: string;
			publishDate: Date;
			coverImage?: string;
			authors: string[];
		};
	};
};

const { post } = Astro.props;
---

<article
	class={`border p-4 transition-color duration-300 ease-out focus-within:outline hover:bg-sidebar rounded-lg shadow`}
>
	<a
		href={`/blog/${post.slug}/`}
		data-astro-prefetch
		class="block outline-none"
	>
		<header>
			<time datetime={post.data.publishDate.toISOString()}>
				{format(post.data.publishDate, "MMMM d, yyyy")}
			</time>
			<div class="flex flex-wrap items-center gap-2">
				<span>By</span>
				{
					post.data.authors.map((author: string) => {
						return (
							<div class="flex items-center gap-2">
								<Avatar name={author} />
								<span>{author}</span>
							</div>
						)
					})
				}
			</div>
		</header>

		<div class="mt-6 grid gap-x-16 gap-y-4 md:grid-cols-2">
			<h3 class="text-lg sm:text-xl lg:text-2xl text-secondary-foreground">{post.data.title}</h3>
			<p class="text-secondary-foreground">{post.data.description}</p>
		</div>
	</a>
</article>

